@model IEnumerable<EquipmentModel>
@{
    ViewData["Title"] = "List Equipment";
}

<h1>List Equipment</h1>

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="mt-3 mb-3">
                <a asp-action="Create" asp-controller="Equipment" class="btn btn-success">
                    New Equipment
                </a>
            </div>

            <table class="table table-bordered table-striped table-responsive" id="equipmentTable">
                <thead>
                    <tr>
                        <th>EquipmentID</th>
                        <th>NameE</th>
                        <th>Quantity</th>
                        
                        <th>IsActive</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var equipment in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(item => equipment.EquipmentID)</td>
                            <td>@Html.DisplayFor(item => equipment.NameE)</td>
                            <td>@Html.DisplayFor(item => equipment.Quantity)</td>
                            
                            <td>@Html.DisplayFor(item => equipment.IsActive)</td>
                            <td>
                                <a asp-controller="Equipment"
                                   asp-action="Edit"
                                   asp-route-id="@equipment.EquipmentID"
                                   class="btn btn-primary">
                                    Edit
                                </a>
                                <a asp-controller="Equipment"
                                   asp-action="Delete"
                                   asp-route-id="@equipment.EquipmentID"
                                   class="btn btn-danger">
                                    Delete
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>
