@model IEnumerable<ProgramModel>
@{
    ViewData["Title"] = "List Program";
}

<h1>List Programs</h1>

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="mt-3 mb-3">
                <a asp-action="Create" asp-controller="Program" class="btn btn-success">
                    New Program
                </a>
            </div>

            <table class="table table-bordered table-striped table-responsive" id="customerTable">
                <thead>
                    <tr>
                        <th>ProgramsID</th>
                        <th>NameP</th>
                        <th>DescriptionP</th>
                        <th>IsActive</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var program in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(item => program.ProgramsID)</td>
                            <td>@Html.DisplayFor(item => program.NameP)</td>
                            <td>@Html.DisplayFor(item => program.DescriptionP)</td>
                            <td>@Html.DisplayFor(item => program.IsActive)</td>
                            <td>
                                <a asp-controller="Program"
                                   asp-action="Edit"
                                   asp-route-id="@program.ProgramsID"
                                   class="btn btn-primary">
                                    Edit
                                </a>
                                <a asp-controller="Program"
                                   asp-action="Delete"
                                   asp-route-id="@program.ProgramsID"
                                   class="btn btn-danger">
                                    Delete
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>